<h2>Upcoming matches</h2>
<dl>
	{% assign lbteams = site.teams | where:"lbteam","true" %}
	{% for team in lbteams %}
		<dt>{{ team.title }}</dt>
		{% for leagueid in team.leagues %}
		    {% assign league = site.leagues | where:"slug",leagueid %}
		    {% assign matches = site.matches | where:"season",site.currentseason | where:"hometeam", team.slug | where:"league", league[0].slug | where_exp:"match", "match.matchdate > site.time" | sort: "matchdate" %}
		    {% if matches.size > 0 %}
			    {% assign match = matches[0] %}
			    {% assign opponent = site.teams | where:"slug",match.opponent %}
		    	<dd><a href="{{ site.baseurl }}{{ match.url }}">{{match.matchdate | date_to_string }}: {{ opponent[0].title }} ({{ match.homeaway }})</a></dd>
		    {% else %}
		    	<dd><em>No upcoming matches.</em></dd>
		    {% endif %}
		{% endfor %}
	{% endfor %}
</dl>