<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">
  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>
  {% elsif page.layout == "team" %}
    <section class="section  section--description">
      {% include team-sidebar.html %}
    </section>
  {% elsif page.layout == "player" %}
    <section class="section  section--description">
      {% include player-sidebar.html %}
    </section>
  {% elsif page.layout == "page" %}
    <section class="section  section--description">
      {% include latest-news.html %}
      {% include teams-sidebar.html %}
      {% include nav-social.html %}
    </section>
  {% endif %}
</aside>