{% if page.players %}
<h2>Current Players</h2>
<ul class="list  list--players">
  {% for playerid in page.players %}
    {% assign player = site.players | where:"slug", playerid %}
    <li class="item  item--post">
      <a href="{{ site.baseurl }}{{ player[0].url }}">{{ player[0].title }}</a> {% if player[0].slug == page.captain %}(team captain){% endif %}</li>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% assign honours = site.honours | where:"team", page.slug | sort: "date" | reverse %}
{% if honours.size > 0 %}
  <h2>Roll of honour</h2>
  <ul>
  {% for honour in honours %}
    <li>{{ honour.title }}</li>
  {% endfor %}
  </ul>
{% endif %}
