html {
  font-size: 14px;

  .typeset {
    h1 {
      font-size: 50px;
    }

    p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child {
      padding-top: 0;
    }
  }
}
.nav--header {
  a {
    transition: text-decoration .1s;

    &:hover, &:active, &:focus {
      border-bottom: 2px dotted $hoverColour;
    }
  }

  .item--current a {
    border-bottom: 2px solid $headingColour;

    &:hover {
      color: $hoverColour;
      border-bottom-color: $hoverColour;
    }
  }
}

.footer {
  small {
    color: $backgroundColour;
  }
  a {
    color: $backgroundColour;

    &:hover, &:active, &:focus {
      border-bottom: 1px dotted $backgroundColour;
    }
  }
}

.header {
  background-color: $headerBackgroundColour;
  margin-bottom: 1.6rem;

  .logo img {
    max-height: 100%;
  }

  .feature {
    background-color: $backgroundColour;

    margin-bottom: 0;
  }

  > .container {
    height: 120px;
  }

}

.player-profile-header {
  display: flex;
  flex-direction: row;
  justify-content: left;

  .player-profile-picture {
    width: 100px;
    max-width: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 40em) {
  .header {
    .logo img {
      max-height: 5rem;
    }

    > .container {
      height: auto;
    }
  }
}


@media screen and (min-width: 40em) {
  .main {
    justify-content: left;
  }

  .aside {
    opacity:1;
    min-height: 300px;
    border-left: 1px solid $borderColour;
    padding-left: 2%;
    margin-left: 2%;

    p, dt, dd, li {
      font-size: 80%;
    }
  }

  html {
    .typeset {
      h1 {
        font-size: 50px;
        margin-bottom: 2rem;
      }
    }
  }
}

.typeset ul {
  padding-left: 1rem;
}

.aside {
  ul,li {
    list-style: none;
    padding-left: 0;
  }

  dl {
    margin-bottom: 0;

    dd {
      line-height: 1;
    }
    dt {
      line-height: 1.5;
    }

    dd + dt {
      padding-top:0.6rem;
    }
  }

  .lb-teams-sidebar {
    h3 {
      font-size: 18px;
      line-height: 1.5;
    }

    .lb-team-sidebar {
      padding-left: 1.5rem;
    }
  }
}

.table {
  thead {
    th, td {
      border-bottom: 1px solid $borderColour;
    }

    + tbody {
      tr:first-child {
        td,th {
          padding-top: 0.5rem;
        }
      }
    }
  }
}

.chess-results-table {
  tbody {
    .result-cell:before {
      width: 1.28571429em;
      text-align: center;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
    }

    a:hover {
      color:inherit;
      text-decoration:underline;
    }
    tr.win {
      .result-cell:before {
        content: "\f058";
      }
      th, td, a {
        color: $leightongreen;
      }
    }
    tr.loss {
      .result-cell:before {
        content: "\f05e";

      }
      th, td, a {
        color: $leightonred;
      }
    }
    tr.draw {
      .result-cell:before {
        content: "\3d";
      }
      th, td, a {
      }
    }
    tr.abandoned {
      th, td, a {
        font-style: italic;
        color: $mutedColour;
        text-decoration:line-through;
      }
    }
    tr.tbc {
      .result-cell:before {
        content: "\f128";
      }
      th, td, a {
        font-style: italic;
        color: $mutedColour;
      }
    }
  }

  .pgn-link {
    text-align: center;
    a {
      color: $bodyColour !important;
    }

    .no-pgn {
      color: $disabledColour;
    }
  }
}

dd.result {
  &:before {
    width: 1.28571429em;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
  }
  &.win {
    color: $leightongreen;
    &:before {
      content: "\f058";
    }
  }

  &.loss {
    color: $leightonred;
    &:before {
      content: "\f05e";
    }
  }

  &.draw {
    &:before {
      content: "\3d";
    }
  }
  &.tbc {
    &:before {
      content: "\f128";
    }
  }
}

.pgn-viewer-game {
  margin: 2rem auto !important;
  width: 500px;

  &.pgnvjs {
    .buttons {
      margin-top: 1rem;
    }

    .moves {
      margin-top: 1rem;
      font-weight: 300;
      color: $mutedColour;
      move {
        padding-right: 1rem;
        &.white {
          padding-right: 0;
        }
      }
    }

  }
}

.note {
  font-style: italic;
  color: $mutedColour;
}

a > .fa {
  text-decoration: none;
}

i.fa {
  font-style: normal;
}