// Theme colors
$leightonyellow: #f9dc40 !default;
$leightonred: #e10101 !default;

// Background colours
$backgroundColour: #f2f4f5 !default;
$headerBackgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;
$borderColour: #384743 !default;

// Text colours
$headingColour: #2a2f36 !default;
$bodyColour: #384743 !default;
$linkColour: #242e2b !default;
$hoverColour: $leightonred !default;
$focusColour: #242e2b !default;
$captionColour: #242e2b !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: '"Gotham A","Gotham B",sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Gotham A","Gotham B",sans-serif',
  regular: 400,
  bold: 500,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;