---
layout: page
---

{% assign white = site.players | where: "slug", page.white %}
{% assign black = site.players | where: "slug", page.black %}

<h2>
  {{ white[0].title }}{% if page.whiterating != blank %} ({{ page.whiterating }}){% endif %}
  vs
  {{ black[0].title }}{% if page.blackrating != blank %} ({{ page.blackrating }}){% endif %}
</h2>

{{ content }}

{% if page.pgn != blank %}
  <script type="text/template" class="pgn-game">{{page.pgn}}</script>
{% else %}
<p><em>No PGN for this game has been uploaded.</em></p>
{% endif %}
</article>