---
layout: page
---

{% assign league = site.leagues | where: "slug", page.league %}
{% assign season = site.seasons | where: "slug", page.season %}
{% assign opponent = site.teams | where: "slug", page.opponent %}
{% assign hometeam = site.teams | where: "slug", page.hometeam %}
{% assign games = site.games | where: "match", page.slug | sort: "boardno" %}

<h2>{{ hometeam[0].title }} vs {{ opponent[0].title }}</h2>

{{ content }}

{% if games.size > 0 %}
<h2>Results</h2>
<table class="table chess-results-table">
  <thead>
    <th>Board</th>
    <th>Result</th>
    <th class="pgn-link">PGN?</th>
  </thead>
  <tbody>
    {% for game in games %}
      {% assign white = site.players | where:"slug",game.white %}
      {% assign black = site.players | where:"slug",game.black %}
      {% if page.boards contains game.white %}
        {% if game.result == "1-0" %}
          {% assign result = "win" %}
        {% elsif game.result == "0-1" %}
          {% assign result = "loss" %}
        {% else %}
          {% assign result = "draw" %}
        {% endif %}
      {% else %}
        {% if game.result == "1-0" %}
          {% assign result = "loss" %}
        {% elsif game.result == "0-1" %}
          {% assign result = "win" %}
        {% else %}
          {% assign result = "draw" %}
        {% endif %}
      {% endif %}

      <tr class="{{ result }}">
        <td>
          {% if game.pgn != blank %}<a href="{{ site.baseurl }}{{ game.url }}">{% endif %}
            #{{ game.boardno }}
            {{ white[0].title }}{% if game.whiterating != blank %} ({{ game.whiterating }}){% endif %}
            vs
            {{ black[0].title }}{% if game.blackrating != blank %} ({{ game.blackrating }}){% endif %}
          {% if game.pgn != blank %}</a>{% endif %}
        </td>
        <td class="result-cell">
          {{ game.result }}
        </td>
        <td class="pgn-link">
          {% if game.pgn != blank %}
            <a href="{{ site.baseurl }}{{ game.url }}"><i class="fa fa-fw fa-chess-board"></i></a>
          {% else %}
            <i class="fa fa-fw fa-ban no-pgn"></i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><em>No games have been uploaded for this match.</em></p>
{% endif %}