---
layout: page
---

<h2>Player profile: {{ page.title }}</h2>

{{ content }}

{% assign games = site.games | where_exp: "game", "game.white == page.slug or game.black == page.slug" | sort: "gamedate desc" %}
{% if games.size > 0 %}
<h2>Game history</h2>
<table class="table">
  <thead>
    <th>Game</th>
    <th>Match/Event</th>
    <th>Date</th>
    <th>Result</th>
  </thead>
  <tbody>
    {% for game in games %}
      {% assign white = site.players | where:"slug",game.white %}
      {% assign black = site.players | where:"slug",game.black %}
      {% if game.match %}
        {% assign gamelink = site.matches | where:"slug",game.match %}
      {% elsif game.event %}
        {% assign gamelink = site.events | where:"slug",game.event %}
      {% endif %}
      <tr>
        <td>
          <a href="{{ site.baseurl }}{{ game.url }}">
            {{ white[0].title }} vs {{ black[0].title }}
          </a>
        </td>
        <td>
          {% if gamelink %}
            <a href="{{ gamelink[0].url }}">{{ gamelink[0].title }}</a>
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>{{ game.gamedate | date_to_string }}</td>
        <td>{{ game.result }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}