---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--player  typeset">
        {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
        <h1>{{ collectiondata.title }}</h1>
        {{ collectiondata.description | markdownify }}
    </article>

  <section class="section  typeset">
    <ul class="list  list--players">
      {% for player in site.players %}
        <li class="item  item--post">
          <a href="{{ site.baseurl }}{{ player.url }}">{{ player.title }}</a></li>
        </li>
      {% endfor %}
    </ul>
  </section>

  </div>

  {% if player.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}