---
layout: page
---

<div class="player-profile-header">
  {% include player-photo.html photo=page.photo name=page.title %}
  <h2>Player profile: {{ page.title }}</h2>
</div>

{{ content }}

{% assign games = site.games | where_exp: "game", "game.white == page.slug or game.black == page.slug" | sort: "gamedate" | reverse %}
{% if games.size > 0 %}
<h2>Game history</h2>
<table class="table chess-results-table">
  <thead>
    <th>Game</th>
    <th>Match/Event</th>
    <th>Date</th>
    <th>Result</th>
    <th class="pgn-link">PGN?</th>
  </thead>
  <tbody>
    {% for game in games %}
      {% assign white = site.players | where:"slug",game.white %}
      {% assign black = site.players | where:"slug",game.black %}
      {% if game.match %}
        {% assign gamelink = site.matches | where:"slug",game.match %}
      {% elsif game.event %}
        {% assign gamelink = site.events | where:"slug",game.event %}
      {% endif %}
      {% if game.white == page.slug %}
        {% if game.result == "1-0" %}
          {% assign result = "win" %}
        {% elsif game.result == "0-1" %}
          {% assign result = "loss" %}
        {% else %}
          {% assign result = "draw" %}
        {% endif %}
      {% else %}
        {% if game.result == "1-0" %}
          {% assign result = "loss" %}
        {% elsif game.result == "0-1" %}
          {% assign result = "win" %}
        {% else %}
          {% assign result = "draw" %}
        {% endif %}
      {% endif %}
      <tr class="{{ result }}">
        <td>
          {% if game.pgn != blank %}<a href="{{ site.baseurl }}{{ game.url }}">{% endif %}
            {{ white[0].title }} vs {{ black[0].title }}
          {% if game.pgn != blank %}</a>{% endif %}
        </td>
        <td>
          {% if gamelink %}
            <a href="{{ gamelink[0].url }}">{{ gamelink[0].title }}</a>
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>{{ game.gamedate | date_to_string }}</td>
        <td class="result-cell">
          {{ game.result }}
        </td>
        <td class="pgn-link">
          {% if game.pgn != blank %}
            <a href="{{ site.baseurl }}{{ game.url }}"><i class="fa fa-fw fa-chess-board"></i></a>
          {% else %}
            <i class="fa fa-fw fa-ban no-pgn"></i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}