---
layout: page
---

<h2>{{ page.title }}</h2>
{% if page.captain %}
  {% assign captain = site.players | where:"slug", page.captain %}
  <div class="player-profile-header">
    {% if captain[0].photo %}
      <img class="player-profile-picture" src="{{ captain[0].photo }}" alt="Profile image of {{ captain[0].title }}">
    {% endif %}
    <p>Team Captain: <a href="{{ site.baseurl }}{{ captain[0].url }}">{{ captain[0].title }}</a></li></p>
  </div>

{% endif  %}

{{ content }}

{% if page.leagues.size > 0 %}
  {% for leagueid in page.leagues %}
    {% assign league = site.leagues | where:"slug",leagueid %}
    {% assign season = site.seasons | where:"slug",site.currentseason %}
    <h3>{{ league[0].title }} - {{ season[0].title }}</h3>

    {% if league[0].bedscode and league[0].bedscode != blank %}
    <p><span class="fa fa-fw fa-external-link"></span> <a target="_blank" href="http://www.adrianelwin.co.uk/PHPFiles/Division.php?year={{ season[0].bedscode }}&comp={{ league[0].bedscode }}">Official Bedfordshire League Table</a></p>
    {% endif %}

    {% assign matches = site.matches | where:"season",site.currentseason | where:"hometeam", page.slug | where:"league", league[0].slug | sort: "matchdate" %}
    {% if matches.size > 0 %}
    <table class="table chess-results-table">
      <thead>
        <th>Match</th>
        <th>Date</th>
        <th>Result</th>
      </thead>
      <tbody>
        {% for match in matches %}
          {% assign opponent = site.teams | where:"slug",match.opponent %}
          <tr class="{{ match.result | downcase }}">
            <td>
              <a href="{{ site.baseurl }}{{ match.url }}">
              {{ opponent[0].title }} ({{ match.homeaway }})
              </a>
            </td>
            <td>{{ match.matchdate | date_to_string }}</td>
            <td class="result-cell">
              {{ match.result }} {% if match.score.is_an_int %}({{ match.score }}{% if match.scoreavailable.is_an_int %} / {{ match.scoreavailable }}{% endif %}){% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    {% else %}
      <p><em>No matches have been input for this season.</em></p>
    {% endif %}

  {% endfor %}
{% endif %}