---
layout: page
---

<h2>{{ page.title }}</h2>
{% if page.captain %}
  {% assign captain = site.players | where:"slug", page.captain %}
  <div class="player-profile-header">
    {% if captain[0].photo %}
      <img class="player-profile-picture" src="{{ captain[0].photo }}" alt="Profile image of {{ captain[0].title }}">
    {% endif %}
    <p>Team Captain: <a href="{{ site.baseurl }}{{ captain[0].url }}">{{ captain[0].title }}</a></li></p>
  </div>

{% endif  %}

{{ content }}

{% if page.leagues.size > 0 %}
  {% for leagueid in page.leagues %}
    {% assign league = site.leagues | where:"slug",leagueid %}
    <h3>{{ league[0].title }}</h3>

    {% assign matches = site.matches | where:"season",site.currentseason | where:"hometeam", page.slug | where:"league", league[0].slug | sort: "matchdate" %}
    {% if matches.size > 0 %}
    <table class="table">
      <thead>
        <th>Match</th>
        <th>Date</th>
        <th>Result</th>
      </thead>
      <tbody>
        {% for match in matches %}
          {% assign opponent = site.teams | where:"slug",match.opponent %}
          <tr>
            <td>
              <a href="{{ site.baseurl }}{{ match.url }}">
              {% if match.homeaway == "home" %}
                {{ page.title }} vs {{ opponent[0].title }}
              {% else %}
                {{ opponent[0].title }} vs {{ page.title }}
              {% endif %}
              </a>
            </td>
            <td>{{ match.matchdate | date_to_string }}</td>
            <td>{{ match.result }} ({{ match.score }}/{{ match.scoreavailable }})</td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    {% else %}
      <p><em>No matches have been input for this season.</em></p>
    {% endif %}

  {% endfor %}
{% endif %}